@inject CarrierService _CarrierService;
<link href="/css/addDialog.css" rel="stylesheet" />
@if(ShowDialog)
{
<div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog add-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header add-dialog">
                <h3 id="title">Add Carrier</h3>

            </div>
            <div class="modal-body" style="background-color:#98a4c5">
                <div class="form-group">
                        
                    <EditForm Model="@Carrier">
                        <CarrierFields Carrier="@Carrier"></CarrierFields>

                    </EditForm>
                </div>
                <p id="loginMsg">@UnsuccessfulLogin</p>
            </div>
            <div class="modal-footer add-dialog" style="background-color:#98a4c5">
                        <button type="submit" class="btn btn-success" id="btnSuccess" @onclick="() => AddCarrierAsync(true)">
                            <span class="oi oi-pencil"></span>
                            Add Carrier
                        </button>
                        <button type="button" class="btn btn-secondary" id="btnClose" @onclick="CloseDialog">
                            <span class="oi oi-media-skip-backward"></span>
                            Close
                        </button>
            </div>
        </div>
    </div>
</div>    
}

@code {
    public bool ShowDialog{ get; set; }


    public Carrier Carrier { get; set; }
    [Parameter]
    public EventCallback<bool> ConfirmationChanged{ get; set; }
    public string UnsuccessfulLogin { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Carrier = new Carrier();
    }
    public async Task Show()
    {
        ShowDialog = true;
        StateHasChanged();
    }
    private void CloseDialog()
    {
        UnsuccessfulLogin = "";
        ShowDialog = false;
        StateHasChanged();
    }
    private async Task AddCarrierAsync(bool isAdded)
    {
        var errors = ValidateCarrier();
        errors = errors.Remove(errors.Length-1);
        if(errors.Length<25)
        {
            await _CarrierService.AddCarrierAsync(Carrier);
            await ConfirmationChanged.InvokeAsync(isAdded);
            CloseDialog();           
        }
        else
        {
            UnsuccessfulLogin = errors;            
        }

    }
    private string ValidateCarrier()
    {
        var validationErrors = "Please enter valid: ";
        if (String.IsNullOrWhiteSpace(Carrier.Name))
            validationErrors += "Name, ";

        if (String.IsNullOrWhiteSpace(Carrier.Country))
            validationErrors += "Country, ";

        return validationErrors;

    }
}
